# Testing files
mongoose.conf
mongoose*.exe

# Per-user stuff
*.sublime-workspace

# NPM & Bower installations
node_modules/
npm-debug.log
bower_components/

# Backup/temporary files
*~

# Saved layouts
layouts/
